<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.1/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         verbose="true">
    
    <testsuite name="Ebanx tests">
        <directory suffix="Test.php">tests</directory>
    </testsuite>

    <coverage includeUncoveredFiles="true"
              processUncoveredFiles="true"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">

        <include>
            <directory suffix=".php">src</directory>
        </include>

        <report>
            <clover outputFile="clover.xml"/>
            <html outputDirectory="./report" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
</phpunit>
